body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    width: 100px;
    height: 100px;
    background: gold;
    animation: pop 4s ease-out;
}
@keyframes pop {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.3);
    }
    50%{
        transform: rotate(45deg);
        background: tomato;
    }
    100%{
        transform: rotate(0);
    }
}