*{
    /* box-sizing: border-box; */
}

.box{
    width: 100px;
    height: 100px;
    background-color: gold;
    padding: 20px;
    border: 10px solid black;
    margin: 50px;
    display: inline-block;
}