body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    width: 100px;
    height: 100px;
    background: gold;
}
.box:hover{
    /* transform: perspective(200px) translateZ(-50px); */
    transform: perspective(200px) rotateY(45deg);
    transform-origin: 0 0;
}