body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    padding: 1rem;
}
label{
    display: block;
}
input[type="text"],
input[type="email"]
{
    border: 1px solid #333;
    border-radius: 5px;
    padding: .5rem .7rem;
    transition: outline .15s, box-shadow .15s;
}
input[type="text"]:focus,
input[type="email"]:focus{
    border-color: #7db0fb;
    outline: 0;
    box-shadow: 0 0 0 4px rgba(24, 117, 255, .25);
}
button{
    background-color: #0d6efe;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0d9efe;
}
.form-group{
    margin-bottom: 1rem;
}